h2 {
	font-size: 49px;
}

.emphasized {
	color: cadetblue !important;
}

.min-button {
	min-width: 375px;
}

.question {
	font-style: italic;
	font-size: 18px !important;
}

.answer {
	margin: 0 10px;
}

.error {
	padding: 0;
	list-style-type: none;
}