{{set . "title" "Admin"}}
{{append . "moreScripts" "js/mustache.min.js"}}
{{template "header.html" .}}

<div class="container theme-showcase" role="main">

   <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="row text-center">
      <h2 class="emphasized">Current Results</h2>
    </div>
    {{template "flash.html" .}}
    <div id="results">
    <script id="results-template" type="x-tmpl-mustache">
      [[#if]]
      	<div class="row">&nbsp;</div>
	    <div class="row">
	      <div class="col-md-1"></div>
	      <div class="col-md-10">
	        <table class="table table-striped">
	          <thead>
	            <tr>
	              <th class="col-md-2">#</th>
	              <th class="col-md-5">Nickname</th>
	              <th class="col-md-5">Answer Time</th>
	            </tr>
	          </thead>
              <tbody>
              [[#results]]
	            <tr>
	              <th scope="row">[[Index]]</th>
	              <td>[[Nickname]]</td>
	              <td>[[Timestamp]]</td>
	            </tr>
	          [[/results]]
	          </tbody>
	        </table>
	      </div>
	      <div class="col-md-1"></div>
        </div>
      [[/if]]
      [[^results]]
        <div class="row text-center">
          <p>No results found</p>
        </div>
      [[/results]]
    </script>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
      	<a id="clearBtn" href="/Admin/ClearResults" class="btn btn-lg btn-success" disabled="disabled">Clear Results</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="page-header text-center">
    	<h1 class="emphasized">All attempts</h1>
      </div>
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-6">Name</th>
                  <th class="col-md-6">Answer</th>
                </tr>
              </thead>
              <tbody id="attempts">
              <script id="attempt-template" type="x-tmpl-mustache">
                <tr>
                  <td>[[Name]]</td>
                  <td>[[Answer]]</td>
                </tr>
              </script>
              </tbody>
            </table>
          </div>
          <div class="col-md-1"></div>
      	</div>
      </div>
    </div>
  </div>

</div> <!-- /container -->

{{template "footer.html" .}}

<script type="text/javascript">
  (function() {
  	Mustache.tags = ['[[', ']]'];
  	var clearBtn = $('#clearBtn');
  	clearBtn.on('click', function() {
  		clearBtn.attr('disabled', 'disabled');
  	});

  	var resultsTemplate = $('#results-template').html();
  	Mustache.parse(resultsTemplate);
  	$.ajax({ url: '/Admin/ResultEndpoint', dataType: 'json' }).done(function(data) {
  		var results;
  		if (data.length > 0) {
  			results = { 
  				'results': $.map(data, function(doc, index) {
  					doc['Index'] = index + 1;
  					return doc;
  				}), 
  				'if': function() {
  					return function(text, render) {
  						return render(text);
  					}
  				} 
  			};
  			clearBtn.removeAttr('disabled');
  		}
  		var rendered = Mustache.render(resultsTemplate, results);
  		$('#results').html(rendered);
  	});

  	var attemptTemplate = $('#attempt-template').html();
  	Mustache.parse(attemptTemplate);

  	var socket = new WebSocket('ws://' + window.location.host + '/Admin/AttemptEndpoint');

  	socket.onmessage = function(attempt) {
  		var rendered = Mustache.render(attemptTemplate, JSON.parse(attempt.data));
  		$('#attempts').prepend(rendered);
  	};
  })();
</script>