{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1 class="emphasized">... Elasticsearch Rocks !!</h1>
    <p>Welcome. We prepared this short demo to help you master the basics of
    Elasticsearch. Throughout the course of this lecture you will have chance to play with real ES cluster. This tutorial will walk you through some fundamental as well as more advanced operations.</p>
    <p>To interact with Elasticsearch you will be using lightweight user-friendly Javascript console called <a href="http://www.elasticsearch.org/guide/en/marvel/current/_marvel_8217_s_dashboards.html#_sense" target="_blank" class="emphasized">Sense</a>. Sense allows contains many features allowing you to benefit from real-time command execution, result visualization and autocompletion.</p>
    <p>There are 3 practice examples. Feel free to do them in any order you like, however note that some advanced examples might build upon topics that were already covered in previous lessons.</p>
    <p><b class="emphasized">Good luck, have fun ...</b><p>
  </div>

  <div class="page-header">
    <h1 class="emphasized">ElasticTutorial</h1>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <p>
          <span class="emphasized">1.</span> In order to access lessons first open Sense.
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <p>
          <a href="/App/Sense" target="_blank" type="button" class="btn btn-lg btn-danger">Launch Sense</a>
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <p>
          <span class="emphasized">2.</span> Now, access a lesson and insert it into Sense.
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <p>
          <a href="/App/Lesson/1" target="_blank" type="button" class="btn btn-lg btn-primary min-button">Lesson #1 - Basic CRUD operations</a>
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <p>
          <a href="/App/Lesson/2" target="_blank" type="button" class="btn btn-lg btn-success min-button">Lesson #2 - Advanced Searching API</a>
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <p>
          <a href="/App/Lesson/3" target="_blank" type="button" class="btn btn-lg btn-warning min-button">Lesson #3 - Aggreggation and Highlighting</a>
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="page-header">
    <h1 class="emphasized">Other Sources</h1>
  </div>
  <div class="row">
    <p>
      <a href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/index.html" target="_blank" type="button" class="btn btn-lg btn-info">Elasticsearch Documentation</a>
    </p>
  </div>
  <div class="row">
    <p>
      <a href="http://www.elasticsearch.org/overview/elasticsearch/" type="button" class="btn btn-md btn-link">Elasticsearch</a>
      <a href="http://www.elasticsearch.org/overview/kibana/" type="button" class="btn btn-md btn-link">Kibana</a>
      <a href="http://www.elasticsearch.org/overview/logstash/" type="button" class="btn btn-md btn-link">Logstash</a>
    </p>
  </div>

</div> <!-- /container -->

{{template "footer.html" .}}
