{{set . "elasticsearch_url" "http://www.elasticsearch.org/overview"}}

<div class="page-header">
  <h1 class="emphasized">Other Sources</h1>
</div>
<div class="row">
  <p>
    <a href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/index.html" target="_blank" type="button" class="btn btn-lg btn-info">Elasticsearch Documentation</a>
  </p>
</div>
<div class="row">
  <p>
    <a href="{{.elasticsearch_url}}/elasticsearch/" type="button" class="btn btn-md btn-link">Elasticsearch</a>
    <a href="{{.elasticsearch_url}}/kibana/" type="button" class="btn btn-md btn-link">Kibana</a>
    <a href="{{.elasticsearch_url}}/logstash/" type="button" class="btn btn-md btn-link">Logstash</a>
  </p>
</div>